div.navbar.has-shadow
    div.navbar-brand
        a.navbar-item(href='/')
            b ADMIN PANEL

    div.navbar-menu
        div.navbar-start
            a.navbar-item(href='/orders') Orders
            a.navbar-item(href='/products') Products
            a.navbar-item(href='/categories') Categories
            a.navbar-item(href='/manufacturers') Manufacturers