.menu-overlay {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}

.menu-wrapper {
    align-self: flex-start;
    position: sticky;
    top: 0;
    padding: 1rem;
    background: var(--light)
}

@media screen and (max-width: 1023px) {
    .menu-wrapper {
        position: absolute;
        left: -15rem;
        top: 0;
        z-index: 2;
        height: 100%;
    }

    .menu-wrapper .is-scrollable {
        overflow: hidden;
        height: 100%;
    }
}

.menu-item {
    padding: .25rem .75rem;
}

.is-nested {
    margin-left: .75rem;
    border-left: 1px solid var(--gray)
}

.card-button {
    position: absolute;
    right: 0;
    bottom: 0;
}