extends templates/layout

include mixins/cart/row

block append head
    link(rel='stylesheet' href='cart.css')

block content
    div.container
        div.m-4-tablet
            if cart_items
                div.columns
                    div.column.is-7.is-8-widescreen
                        each cart_item in cart_items
                            +row(cart_item)

                    div.column
                        div.order-box.has-background-light
                            div.level.is-mobile
                                span.has-text-weight-semibold Total:

                                span.has-text-weight-semibold #{parseUSD(total)}

                            div
                                a.button.is-primary.is-fullwidth(href='/order')
                                    span.has-text-weight-semibold Order

                                    span.icon
                                        i.bi.bi-chevron-right

            else
                div.columns.is-centered
                    div.column.is-8
                        div.box.m-4-tablet
                            div.content
                                p.is-size-5 Your cart is empty.
                                a.button.is-primary.is-light(href='/')
                                    span.icon: i.bi.bi-chevron-left
                                    span Return



block append scripts
    script(src='cart.js')