extends templates/layout

block content
    div.container
        div.mb-6.is-hidden-mobile

        div.columns.is-centered
            div.column.is-8-tablet.is-7-desktop.is-6-widescreen
                div.box
                    div.content
                        h2 Thank you

                        p Your order has been created. Payment information has been sent to your e-mail address.

                    a.button.is-primary.is-light(href='/')
                        span.icon.is-small: i.bi.bi-chevron-left

                        span Home page
