mixin form
    div.field.is-horizontal
        div.field-label.is-normal: span.label Name

        div.field-body
            div.field
                div.control.has-icons-left
                    input.input(name='first_name' placeholder='First name' required)
                    span.icon.is-small.is-left: i.bi.bi-person-circle

            div.field
                div.control.has-icons-left
                    input.input(name='last_name' placeholder='Last name' required)
                    span.icon.is-small.is-left: i.bi.bi-person-circle

    div.field.is-horizontal
        div.field-label.is-normal: span.label Telephone

        div.field-body
            div.field
                div.control.has-icons-left
                    input.input(type='tel' name='telephone' placeholder='Telephone number' required)
                    span.icon.is-small.is-left: i.bi.bi-telephone-fill

    div.field.is-horizontal
        div.field-label.is-normal: span.label Address

        div.field-body
            div.field
                div.control.has-icons-left
                    input.input(name='street_address' placeholder='Street address' required)
                    span.icon.is-small.is-left: i.bi.bi-signpost-split-fill

    div.field.is-horizontal
        div.field-label

        div.field-body
            div.field
                div.control.has-icons-left
                    input.input(name='city' placeholder='City' required)
                    span.icon.is-small.is-left: i.bi.bi-building-fill

            div.field
                div.control.has-icons-left
                    input.input(name='postal_code' placeholder='Postal code' required)
                    span.icon.is-small.is-left: i.bi.bi-envelope-fill

    div.field.is-horizontal
        div.field-label

        div.field-body
            div.field
                div.control
                    button.button.is-primary
                        span Order
                        span.icon: i.bi.bi-chevron-right